body {
	background-color: rgb(209, 206, 206); 
	background-image: color rgb(90, 88, 88);
	height: 750px;
	background-position: center;
	background-repeat: repeat; 
	background-size: cover;
}

.navbar {
	background-color: rgb(255, 255, 255);
	font-size: 25px; 
}

.navbar {
	max-height: 50px;
}

.navbar-brand {
	color: rgb(52, 149, 165);
	margin-left: 0px;
	padding: inherit;
	font-weight: bold;
	background-color: rgb(255, 255, 255);
	font-family: cochin;
}

.active, .dropdown-menu .dropdown-item:active a:hover {
	background-color: rgb(255,255,255);
}
.dropdown-item {
	color: rgba(52, 150, 165, 0.75);
}
.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover {
	background-color: rgba(52, 150, 165, 0.75);
}

.nav-link:hover {
	background-color:rgba(52, 150, 165, 0.75);
}

a {
	color: rgb(231, 231, 231);
	font-size: 15px;
}
	
/* font size and color used for each tab in each html file */

.title {
	font-size: 10px;
	color:black
}


img{
	width:100%;
	height:100%;
}
.panel:hover {
	border-color:rgb(52, 149, 165);
	border-style: solid;
	
}
	
.plot-header {
	color: rgb(52, 149, 165);
	font-family: cochin;
	font-weight: bolder;
	padding-top: 10px;
}

p {
color: rgb(52, 149, 165);
font-family: 'segoe ui';
font-size: 16px;
}


.box {
	margin-top: 50px;
	margin-bottom: 60px;
	padding: 10px 30px 10px;
	color: #ffffff;
	background-color: white;
}
		

/* Adding media queries for the Nav Bar, in order to hide the navbar when the screen is smaller than 992 pixels */

@media(max-width: 992px) {
	.navbar-expand-lg {
	background-color: #000000;
	}
	.navbar {
	max-height: none;
	padding: inherit;
	}
	.navbar div {
	margin: inherit;
	background-color: rgb(255,255,255);
	}
	.navbar-brand {
	padding: 10px;
	}
	button{
	margin-right: 30px;
	}
}